<h1>Nouvelle Categorie</h1>
<%= form_for @category do |f| %>
  <%= f.text_field :name  , placeholder: "Nom de catégorie", class: 'form-control' %>
  <%= f.text_field :slug , placeholder: "Slug", class: 'form-control' %>
  <%= f.submit 'Créer', :class => "btn btn-primary" %>
<% end %>
